* {
  font-family: "Inter", sans-serif;
}

/**
 * The div is the container of <article>s
 */
section > div {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1.section-title {
  font-size: 34px;
  text-align: center;
}

main {
  width: 100%;
}

/**
 * Section has the following elements:
 * 1. h1.section-title - The title of the section
 * 2. div - The container of <article>s
 */
section {
}

/**
 * <article> is an individual item, which is contained in a <div> in an <article>.
 */
article {
  background-color: white;
  height: 470px;
  margin: 15px;
  width: 270px;
  padding: 20px;
}

article h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

article h2 {
  font-size: 24px;
  font-weight: 400;
}

div.ci {
  position: relative;
}

b {
  font-size: 22px;
}

div.ci > span {
  border-radius: 50%;
  height: 16px;
  margin-left: 14px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}

div.service-status > span {
  font-size: 22px;
  color: red;
}

div.service-status > span.online {
  color: #2ECC40;
}
